  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <i class="fas fa-dragon">BG-CLUB</i>
    <a href="/">HOME</a>
    <a href="/boardgames/top">DISCOVER</a>
    <a href="/boardgames/search">SEARCH</a>
    <a href="/favorite">FAVORITE</a>

    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit" class="fas fa-sign-out-alt">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
